block footer
    footer.footer.mt-auto.py-5.bg-light 
        .container
            .row
                .col-md-8.text-start
                    h4.text-black DormMates
                    small.text-muted &copy; Copyright #{new Date().getFullYear()}, DormMates
                .col-md-2.text-end
                    strong Sitemap
                    br
                    a.text-muted(href="/roommates") View Potential Roommates
                    br
                    a.text-muted(href="/listings") View Listings
                .col-md-2.text-end
                    strong Learn more
                    br
                    a.text-muted(href="/faq") FAQ
                    br
                    a.text-muted(href="/about") About Us
                    br
                    a.text-muted(href="/tos") Terms of Service