extends ../layout/default
block content 
    body 
      .container.mt-5#features-container
          .p-4.text-center.big-light 
              h4 404
              hr
              p Page not found.
          