extends ../layout/default
block content 
    body 
        .container.mt-5#faq-container
            .p-4.text-center.big-light 
                h4 Frequently Asked Questions

            .accordion.accordion-flush
                .accordion-item
                    strong.accordion-header What is DormMates?
                    .accordion-body
                        | DormMates is an all-in-one platform where college students can find
                        | great roommates and verified listings near their campuses.
                .accordion-item
                    strong.accordion-header What is a verified listing?
                    .accordion-body
                        | A verified listing is a listing that has been verified by a DormMates 
                        | adminstrator.
                .accordion-item
                    strong.accordion-header How do you match students with each other?
                    .accordion-body
                        | DormMates uses a variety of methods to find other roommates. One method
                        | we use consists of matching your schedule, hobbies, and personality type
                        | with that of other students.
                