extends ../layout/default
block content 
    body 
        .container.mt-5#features-container
                .p-4.text-center.big-light 
                    h4 Features
                    hr
                    p Our service provides a source of searching for roommates and housing all-in-one application. We offer various features that would make your search easier such as our roommate filter, listing filter, and messaging system. 
                br
                .row
                    img.w-25.h-25(src='/images/groupchat.svg')
                    .col
                        br
                        br
                        h5.text-center.text-muted Message anyone who shares your interests 
                        p.ms-2 When seeking roommates, you will have the option to direct message those who you have a compatibility with. You can get to know your future roommates beforehand and clarify your future rooming needs.
                br
                .row
                    .col
                        br
                        br
                        h5.text-center.text-muted Look through landlord reviews
                        p.me-3 Having landlord reviews will give you the confidence in your housing search. Take these reviews into consideration and ensure that the landlord's expectations will match your qualifications.
                    img.w-25.h-25(src='/images/review.svg')
                br
                .row    
                    img.w-25.h-25(src='/images/match.svg')
                    .col
                        br
                        br
                        h5.text-center.text-muted Matchmake with suitable roommates
                        p.ms-2 With our student questionnaire, you will be able to find students who fit your rooming criteria. Our student filtering system will also give you the option to expand your roommate search.
                br
                br