extends ../../layout/default
block content
  .row.mt-5
    .col-sm-12.text-center
      h1.card-title.mb-5=name
      img.rounded-circle.mx-auto.mb-5(height="100" width="100" src=avatar)
      p=description